.control-label.requiredField:before, .control-label.required:after {
  content:"*";
  color:red;
}

table td a span.fa{
  margin-right: 5px;
}

.handle {
  cursor: grab;
}

/*href.prevent*/
a:not([href]):hover{
  color: #0056b3;
}

a:not([href]){
  color: #007bff;
}
/*href.prevent*/

.document-editor__editable-container{
  border: 1px solid #ced4da;
}

.pointer{
  cursor: pointer;
}

.help{
  border-bottom: dotted 2px;
  cursor: help;
}

.table_scroll{
  display: block;
  overflow-x: auto;
}

table.nowrap th{
  white-space: nowrap;
}