.control-label.requiredField:before, .form-group .control-label.required:after {
  content:"*";
  color:red;
}

table td a span.fa{
  margin-right: 5px;
}

.handle {
  cursor: grab;
}

/*href.prevent*/
a:not([href]):hover{
  color: #0056b3;
}

a:not([href]){
  color: #007bff;
}
/*href.prevent*/